.page {
  font-variation-settings: "wght" var(--card-font-weight, 400);
  font-family: var(--inter-font-family, sans-serif);
  background-color: var(--bg-color,);
  background-image: var(--bg-image);
  background-attachment: fixed;
  color: var(--main-color,);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  line-height: normal;
}

.header {
  padding-block: 100px;
}

.container {
  margin: 0 auto;
  inline-size: var(--card-inline-size, min(100%, 700px));
}

.header__container {
  font-family: var(--pixelade-font-family, "pixelade");
  padding-block: clamp(120px, 10vw, 136px) 23px;
  border: 2px solid var(--main-color,);
  background-color: var(--bg-color,);
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.main__container {
  display: grid;
  gap: 50px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  margin-block-end: 20px;
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
}

.theme-menu__list {
  padding-inline-start: 20px;
  display: grid;
  gap: 12px;
}

.theme-menu__button {
  font-size: var(--accent-font-size);
  transition-timing-function: ease;
  background-color: transparent;
  transition-duration: 0.3s;
  text-transform: inherit;
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
}

.theme-menu__button::before {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: triangle-move;
  transform: translateX(0px);
  inset-inline-start: -20px;
  animation-duration: 0.5s;
  inset-block-start: 0;
  position: absolute;
  content: "▶";
  opacity: 0;
}

.theme-menu__button:disabled::before {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  transition-timing-function: ease;
  transition-duration: 0.3s;
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  transition-timing-function: ease;
  transition-duration: 0.3s;
  opacity: 0.6;
}

.theme-menu__button::after {
  background-color: var(--main-color);
  transform-origin: left center;
  transition-duration: 0.3s;
  transform: scaleX(0);
  position: relative;
  block-size: 2px;
  display: block;
  content: "";
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transition-duration: 0.3s;
  transform: scaleX(1);
}

.article {
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.article__title {
  font-variation-settings: "wght" var(--card-title-font-weight, 700);
  font-size: var(--main-font-size);
  padding-block: 4.5px 3.5px;
  padding-inline: 10px;
  line-height: normal;
  font-weight: 700;
}

.article__body {
  font-size: var(--main-font-size);
  flex-direction: column;
  display: flex;
  padding: 25px;
  gap: 26px;
}

.article__image-container {
  border-block: 2px solid var(--main-color);
  position: relative;
}

.article__img {
  object-position: center;
  vertical-align: middle;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.grayscale {
  filter: grayscale(50%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.saturate {
  filter: saturate(300%);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(3px);
}

.multi-filter {
  filter: saturate(200%) hue-rotate(80deg) invert(10%) blur(2px);
}

.img-print {
  font-family: var(--pixelade-font-family, "pixelade");
  font-size: var(--accent-font-size);
  inset-inline-end: min(3%, 25px);
  color: var(--main-color);
  mix-blend-mode: hard-light;
  inset-block-start: 23px;
  position: absolute;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--bg-color),
    0 1px var(--bg-color),
    1px 0 var(--bg-color),
    0 -1px var(--bg-color);
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .img-print {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.card__button-wrapper {
  margin-inline: auto 0;
  max-block-size: 38px;
  display: flex;
}

.card__icon-button {
  transition-timing-function: ease;
  border: 2px solid transparent;
  background-color: transparent;
  transition-duration: 0.3s;
  padding: 0 4px 0 0;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.button {
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  position: relative;
  cursor: pointer;
  padding: 0;
}

.button::after {
  transition-timing-function: ease-in-out;
  background-color: var(--main-color);
  transform-origin: left center;
  transition-duration: 0.5s;
  transform: scaleX(0);
  position: absolute;
  content: "";
  inset: 0;
}

.button:hover::after {
  transform: scale(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
  transition-duration: 0.3s;
}

.button__text {
  font-family: var(--pixelade-font-family, "pixelade");
  font-size: var(--accent-font-size);
  color: var(--button-text-color);
  mix-blend-mode: difference;
  position: relative;
  line-height: 0.9;
  z-index: 1;
}

.save-button {
  justify-content: center;
  max-inline-size: 83vw;
  align-items: center;
  padding: 15px 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  gap: 8px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.ok-button {
  text-transform: uppercase;
  grid-column: 1 / -1;
  inline-size: 100%;
}

.standard-button {
  padding-block: var(--padding-button);
}

.floppy {
  position: relative;
  color: var(--button-text-color);
  inline-size: var(--floppy-size);
  block-size: var(--floppy-size);
  mix-blend-mode: difference;
  z-index: 1;
}

.floppy-image {
  --floppy-size: 38px;
}

.modal[open] {
  font-family: var(--pixelade-font-family, "pixelade");
  padding: var(--modal-padding-inline) 30px;
  column-gap: clamp(12px, 2vw, 20px);
  font-size: var(--accent-font-size);
  background-color: var(--bg-color);
  grid-template-columns: auto auto;
  text-transform: uppercase;
  color: var(--main-color);
  max-inline-size: 357px;
  line-height: 1.5;
  display: grid;
  row-gap: 30px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__text {
  font-size: var(--accent-font-size);
  line-height: 1.5;
}
